DEBUG=True
SECRET_KEY=secret_key
ALLOWED_HOSTS=localhost,127.0.0.1
PG_SQL_ENGINE=django.db.backends.postgresql
PG_SQL_USER=dev_user
PG_SQL_PASSWORD=dev_password
PG_SQL_DATABASE=dev_db
PG_SQL_HOST=db
PG_SQL_PORT=5432
